.referral-form-container{
    margin: 10vh 15vw 10vh 15vw;
}

.error-container{
    align-items: center;
    text-align: center;
    color: rgb(240, 240, 240);
    max-width: fit-content;
    padding: 0.5vh 1vw 0.5vh 1vw;
    border-radius: 10px;
}

.error{
    background-color: rgb(196, 49, 49);
}

fieldset{
    display: grid;
    grid-template-columns: 1fr;
    border: none;
    padding:0;
}

form{
    display: grid;
    grid-template-columns: 1fr;
}

input[type=text], input[type=tel], input[type=file], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit] {
    width: 100%;
    background-color: #40739E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
button[type=submit]:hover {
    background-color: rgb(29, 161, 242);
}

h4{
    text-align: center;
    font-size: 1.5rem;
}