{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'users/base.css'%}">
    <link rel="stylesheet" href="{% static 'users/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'users/Footer-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'users/Navigation-with-Button.css' %}">
    <link rel="shortcut icon" href="{% static 'users/img/m-logo.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&amp;display=swap">
    <!-- AnyTrack Tracking Code -->
    <script>!function(e,t,n,s,a){(a=t.createElement(n)).async=!0,a.src="https://assets.anytrack.io/jYaT8QCCvscD.js",(t=t.getElementsByTagName(n)[0]).parentNode.insertBefore(a,t),e[s]=e[s]||function(){(e[s].q=e[s].q||[]).push(arguments)}}(window,document,"script","AnyTrack");</script>
    <!-- End AnyTrack Tracking Code -->
    {% block extra_head %} {% endblock %}
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="font-family: 'DM Sans', sans-serif;">
        <div class="container">
            
            <a class="navbar-brand" href="/" style="padding-top: 5px;font-size: 23.2px;padding-left: 3.3px;">
                <img style="padding-bottom: 8px;" src="{% static 'users/img/m-logo.png' %}">
                Money<span style="color: rgb(64,115,159);">Moves</span>
            </a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/brands/" style="font-size: 17.5px;">Shop</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="/referral/" style="font-size: 17.5px;">Wallet</a></li>
                    <li class="nav-item"><a class="nav-link" href="/profile/" style="font-size: 17.5px;">Profile</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="#" style="font-size: 17.5px;">How it Works</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://moves.money/merchant" style="font-size: 17.5px;">Merchants</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="https://rainy-mint-11d.notion.site/MoneyMoves-FAQ-00239b8983544167b533490fdddcdf8e" style="font-size: 17.5px;">FAQs</a></li>
                    
                </ul>
                {% if user.is_authenticated %}
                <span class="navbar-text actions"> 
                    <a class="btn btn-light action-button" role="button" href="/logout/" style="background: #40739f;font-size: 17.5px;margin-bottom: 5px;">Log Out</a>
                </span>
                {% else %}
                <span class="navbar-text actions"> 
                    <a class="login" href="/login/" style="font-size: 17.5px;">Log In</a>
                    <a class="btn btn-light action-button" role="button" href="/register/" style="background: #40739f;font-size: 17.5px;margin-bottom: 5px;">Sign Up</a>
                </span>
                {% endif %}
            </div>
        </div>
    </nav>
    
    {% block content %}
    {% endblock %}
    
    <footer class="footer-clean">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3 style="color: rgb(64,115,159);">Get cashback</h3>
                    <ul>
                        <li><a href="https://moneymoves.app/">How it Works</a></li>
                        <li><a href="https://moneymoves.app/brands/">Brands</a></li>
                        <li><a href="https://moneymoves.app/faq/">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3 style="color: rgb(64,115,159);">Merchants</h3>
                    <ul>
                        <li><a href="https://moves.money/merchant/">Why Join Us</a></li>
                        <li><a href="https://moves.money/merchant/">Reward your Customers</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social">
                    <h3 style="color: rgb(64,115,159);">Follow Us</h3><a href="https://www.instagram.com/get.moneymoves/"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright">Money Moves © 2021</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'users/js/base.js' %}"></script>
    <script>
        // add user specific custom data
        var usersplit_params = {email:"getmoneymoves@gmail.com",name:"jason"};
    </script>
    <script data-host="https://usersplit.com" data-dnt="false" src="https://usersplit.com/js/script.js" id="ZwSg9rf6GA" async defer></script>
</body>

</html>

