{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'users/base.css'%}">
    <link rel="stylesheet" href="{% static 'users/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'users/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'users/Navigation-with-Button.css' %}">
    <link rel="shortcut icon" href="{% static 'users/img/logo.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&amp;display=swap">
    <!-- AnyTrack Tracking Code -->
    <script>!function(e,t,n,s,a){(a=t.createElement(n)).async=!0,a.src="https://assets.anytrack.io/jYaT8QCCvscD.js",(t=t.getElementsByTagName(n)[0]).parentNode.insertBefore(a,t),e[s]=e[s]||function(){(e[s].q=e[s].q||[]).push(arguments)}}(window,document,"script","AnyTrack");</script>
    <!-- End AnyTrack Tracking Code -->
    {% block extra_head %} {% endblock %}
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background: #e4ebf7;">
        <div class="container">
            <a class="navbar-brand d-xl-flex" href="/">
                <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center align-items-xxl-center">
                    <img src="{% static 'users/img/favicon_mPqGWc0kA.png' %}" style="width: 32px;padding-right: 2px;">
                    <div><span>Money</span><span style="color: rgb(64,115,159);">Moves</span></div>
                </div>
            </a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">          
                {% if user.is_authenticated %}
                  <li class="nav-item"><a class="nav-link" href="/brands" style="color: rgb(0,0,0);">Shop</a></li>
                  <li class="nav-item"><a class="nav-link" href="/referral" style="color: rgb(0,0,0);">Wallet</a></li>
                  <li class="nav-item"><a class="nav-link" href="/profile" style="color: rgb(0,0,0);">Profile</a></li>
              </ul><span class="navbar-text actions"> <a class="login" href="/logout"></a><a class="btn btn-light action-button" role="button" href="/logout" style="background: #40739f;">Log out</a></span>
                {% else %}
                  <li class="nav-item"><a class="nav-link" href="/brands" style="color: rgb(0,0,0);">Shop</a></li>
                  <li class="nav-item"><a class="nav-link" href="/" style="color: rgb(0,0,0);">How It Works</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://moves.money/merchant" style="color: rgb(0,0,0);">Merchants</a></li>
              </ul>
                <span class="navbar-text actions" style="display: flex;"> 
                    <a class="nav-link" href="/login/">Login</a>
                    <a class="btn btn-light action-button" role="button" href="/register/" style="background: #40739f;">Sign Up</a>
                </span>
                {% endif %}
            </div>
        </div>
    </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer class="footer-dark" style="filter: hue-rotate(0deg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Product</h3>
                    <ul>
                        <li><a href="https://moneymoves.app">How it Works</a></li>
                        <li><a href="https://moves.money/shop.html">Shop</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Merchants</h3>
                    <ul>
                        <li><a href="https://moves.money/merchant">Why Join us</a></li>
                        <li><a href="https://moves.money/merchant">Get Conversions</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Money Moves</h3>
                    <p>Get rewarded for your recommendations. Invest the cashback.</p>
                </div>
                <div class="col item social"><a href="https://www.instagram.com/get.moneymoves/"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">MoneyMoves © 2021</p>
        </div>
    </footer>
    <script src="{% static 'users/js/base.js' %}"></script>
    <script>
        // add user specific custom data
        var usersplit_params = {email:"getmoneymoves@gmail.com",name:"jason"};
    </script>
    <script data-host="https://usersplit.com" data-dnt="false" src="https://usersplit.com/js/script.js" id="ZwSg9rf6GA" async defer></script>
</body>

</html>

