{% extends "users/base.html" %}
{% block title %}Brands{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/brands.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


<section class="brands-section">
  <div class="brands-container">    
    <h1 class="our-brands">Our Brands</h1>
    <h3 class="sub-brand-heading" >Earn cashback from your favourite brands</h3>
  </div>

  <div class="brands-list">
    
    <div class="brand-card">
      <div class="container">
        <img src="https://ik.imagekit.io/wackowacko/app_moves_money/sunday_valley_DDAuvKQvA.png" alt="image of the merchant" class="brand-image" height="auto" width="70%">
        <div class="overlay">
          <div class="text">
            <a href="https://sunday-valley.com/" class="brand-name">Sunday Valley</a>
          </div>
        </div>
      </div>
      <div class="cashback-container">
        <h3 class="cashback-amt">30% Cashback</h3>
      </div>
    </div>

    <div class="brand-card">
      <div class="container">
        <img src="https://ik.imagekit.io/wackowacko/app_moves_money/do_not_cross_7XdIE-apu.png" alt="image of the merchant" class="brand-image" height="auto" width="70%">
        <div class="overlay">
          <div class="text">
            <a href="https://donotcrosss.com/" class="brand-name" >DO NOT CROSS</a>
          </div>
        </div>
      </div>
      <div class="cashback-container">
        <h3 class="cashback-amt">30% Cashback</h3>
      </div>
    </div>

    <div class="brand-card">
      <div class="container">
        <img src="https://ik.imagekit.io/wackowacko/app_moves_money/singaplex_2nOP047VSGK.png" alt="image of the merchant" class="brand-image" height="auto" width="70%">
        <div class="overlay">
          <div class="text">
            <a href="https://singaplex.com/" class="brand-name" >Singaplex</a>
          </div>
        </div>
      </div>
      <div class="cashback-container">
        <h3 class="cashback-amt">15% Cashback</h3>
      </div>
    </div>
    
  </div>

</section>
{% endblock %}