{% extends "users/base.html" %}
{% block title %}Log Out{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'users/logout.css' %}">
<section class="logout-container">
    <h2 class="thanks">Thanks for visiting Money<span class="moves">Moves</span>! You have been logged out</h2>

    <div>
        <h5 class="outro">
            You can always 
            <a class="ml-2" href="{% url 'login' %}">Log In Again</a>
        </h5>
    </div>
</section>
    
{% endblock content %}