{% extends "users/base.html" %}
{% block title %}Log In{% endblock %}
{% load static %}
{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% static 'users/password_reset_complete.css' %}">{% endblock %}
{% block content %}

    <section class="login-container">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}"> 
                <h4>{{ message }}</h4>
            </div>
            {% endfor %}
        {% endif %}   

        <h1>
            Your password has been successfully reset. 
        </h1>

        <a class="signinhere" href="{% url 'login' %}">Sign in Here</a>
    
    </section>
{% endblock %}