{% extends "users/base.html" %}
{% block title %}Password Reset{% endblock %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/password_reset.css' %}">
{% endblock %}
{% block content %}

    <section class="login-container">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">  <!-- singular -->
                <h4>{{ message }}</h4>
            </div>
            {% endfor %}
        {% endif %}   
        
        {{ form.errors }}
        
        <h1 class="heading">Reset Password</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="email" name="email" id="email" placeholder="email" required-id="id_email">
            <br>
            <button type="submit">Request Password Reset</button>
        </form>
    </section>
{% endblock %}