{% extends "users/base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'users/phone.css' %}">
<section class="phone_register_user">
    {% if messages %}
    <div class="message-container ">
        {% for message in messages %}
        <h4 class="{{message.tags}}">{{message}}</h4>
        {% endfor %}
    </div>
    {% endif %}
    <div class="phone-container">   
        <h1 class="heading">Please enter your phone number</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="tel" name="phone_number" pattern="[0-9]{8}" placeholder="Phone Number" required>
            <button type="submit">Update</button>
        </form>
        <small>
            We need your phone number to issue out your cashback payouts.
        </small>
    </div>
</section>

{% endblock content %}