<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="max-width: 600px;  font-family: Arial, Helvetica, sans-serif;">
    <header style="display: flex; align-items: center; justify-content: space-evenly; background-color: #D9E3EC;">
        <img style="padding: 30px;" src="https://ik.imagekit.io/2bmvtzrfkar/Email_templates/MMLogo_V4Sbekfx3NW.png" alt="moneymoves logo">
    </header>

    <section style="padding-left: 20px; padding-right: 20px; display: flex; flex-direction: column; align-items: center; justify-content: space-evenly;">
        <h1>Thanks for signing up {{username}}!</h1>
        <div style="width: 70%;">
            <h2 style="font-weight: 100; font-size: 1.2rem;">With MoneyMoves, we can help you be financially free by shopping and recommending! 🛍</h2>
        </div>
    </section>

    <section class="tips" style="padding:20px; background-color: #D9E3EC;">
        <div style="display: flex; align-items: center; justify-content: space-evenly; flex-direction: column; padding-bottom: 30px;">
            <h1 style="padding-bottom: 15px;">Tips to get started</h1>
            <img style="padding-bottom: 10px;" src="https://ik.imagekit.io/2bmvtzrfkar/Email_templates/copy_77T44jUvX.png" alt="link icon">
            <p> <span style="font-weight: 900;">Create</span> your own unique link to share with your friends!</p>
        </div>

        <div style="display: flex; align-items: center; justify-content: space-evenly; flex-direction: column; padding-bottom: 30px;">
            <img style="padding-bottom: 10px;" src="https://ik.imagekit.io/2bmvtzrfkar/Email_templates/Earn_SB-dJ_kmt.png" alt="earn icon">
            <p><span style="font-weight: 900;">Earn</span> cashback when your friend buys a product using your link. (Only one of you needs to make a purchase)</p>
        </div>

        <div style="display: flex; align-items: center; justify-content: space-evenly; flex-direction: column; padding-bottom: 30px;">
            <img style="padding-bottom: 10px;" src="https://ik.imagekit.io/2bmvtzrfkar/Email_templates/invest_Cd4R9KYokdF.png" alt="Invest icon">
            <p><span style="font-weight: 900;">Invest</span> your cashback and watch them grow! No more leaving cashback on the table.</p>
        </div>

        <div style="display: flex; align-items: center; justify-content: space-evenly;">
            <a style="text-decoration: none; padding-bottom: 10px; padding-top: 10px; padding-left: 20px; padding-right: 20px; border-radius: 20px; color: white; background-color: #0086FF;" href="https://moneymoves.app/login">Start earning now</a>
        </div>
    </section>

    <section style="padding:20px; display: flex; flex-direction: column; align-items: center; justify-content: space-evenly;">
        <a href="https://www.instagram.com/get.moneymoves/">
            <img src="https://ik.imagekit.io/2bmvtzrfkar/Email_templates/insta_UInoS_nLv.png" alt="instagram icon">
        </a>
        <p style="font-weight: 100;">MoneyMoves 2021</p>
    </section>
</body>
</html>