{% extends "users/base.html" %}
{% block title %}Wallet{% endblock %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/wallet.css' %}">
{% endblock %}
{% block content %}

{% if messages %}
<div class="message-container ">
    {% for message in messages %}
    <h4 class="{{message.tags}}">{{message}}</h4>
    {% endfor %}
</div>
{% endif %}

    <h1>My Wallet</h1>

    {% if wallet %}
    <h3>Wallet amount: ${{ wallet }}</h3>
    {% endif %}

{% endblock content %}
