@media only screen and (max-width: 550px) {
    #mainpic {
        width: 80%;
        margin-bottom: 40px;
    }

    #startearningbtn{
        padding-top: 115px !important;
    }
    
    main{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    #brandshero{
        width: 100% !important;
    }
}