.phone_register_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7vh 0 10vh 0;
}

.message-container{
    align-items: center;
    text-align: center;
    color: rgb(240, 240, 240);
    max-width: fit-content;
    padding: 0.5vh 1vw 0.5vh 1vw;
    border-radius: 10px;
}

.info{
    background-color: rgb(193, 10, 10);
    color: rgb(240, 240, 240);
    padding: 0.5vh 1vw 0.5vh 1vw;
    border-radius: 10px;
}

.success{
    background-color: rgb(32, 184, 111);
    color: rgb(240, 240, 240);
    padding: 0.5vh 1vw 0.5vh 1vw;
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=tel]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit] {
    width: 100%;
    background-color: #40739E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
button[type=submit]:hover {
    background-color: rgb(29, 161, 242);
}

.heading{
    font-size: 2rem;
}

@media (max-width: 800px) {
    .register_user{
        margin: 7vh;
    }
}