{% extends "users/base.html" %}
{% block title %}Wallet{% endblock %}
{% load static %}
{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% static 'referrals/my_referrals.css' %}">{% endblock %}
{% block content %}

<section class="referral-container">
{% if messages %}
<div class="message-container ">
    {% for message in messages %}
    <h4 class="{{message.tags}}">{{message}}</h4>
    {% endfor %}
</div>
{% endif %}
  <form action="/referral/upload" class="btn-wrap">
    <button class="receipt-btn" style="margin-bottom: 15px;" type="submit">Upload Receipt</button>
  </form>
  
  <h1>Cashback Earned: <span class="cashback-earned">${{profile.wallet}} </span> </h1>
  <br>
  <h2>Number of Refers: {{ profile.num_of_refers }}</h2>
  <br>
  <h3>Purchases Made</h3>
  
  {% if referrals %}
    {% for r in referrals %}
      {% if r.is_Verified %}
      <a class="card-text" href="{{r.id}}">
        <p class="">
         <span class="date">{{ r.date_published }}</span>
          You earned <span class="cashback-earned">${{ r.referer_cashback }}</span>
          from recommending {{r.referee_username}}
          &#x2192;
        </p>
      </a>
      {% else %}
    <p>
      <span class="pending">
        <span class="date">{{ r.date_published }}</span> Recommendation #<span class="merchant">{{r.id}}</span> is pending verification
      </span>
    </p>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% for r in user_referred %}
    {% if r.is_Verified %}
    <a class="card-text" href="{{r.id}}">
      <p class="">
        <span class="date">{{ r.date_published }}</span> 
        You saved ${{r.referee_cashback}} from {{r.referer}} &#x2192;
      </p>
    </a>
      
    {% else %}
      <p><span class="date">{{ r.date_published }}</span> Your earnings from #<span class="merchant">{{r.id}}</span> is pending verification</p>
    {% endif %}
  {% endfor %}
  

</section>
{% endblock %}


