{% extends "users/base.html" %}
{% block title %}Wallet{% endblock %}
{% load static %}
{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% static 'referrals/my_referrals.css' %}">{% endblock %}
{% block content %}

<section class="referral-container">
{% if messages %}
<div class="message-container ">
    {% for message in messages %}
    <h4 class="{{message.tags}}">{{message}}</h4>
    {% endfor %}
</div>
{% endif %}
  <form action="/referral/upload" class="btn-wrap">
    <button class="receipt-btn" type="submit">Upload Receipt</button>
  </form>
  
  <h1>Cashback Earned: <span class="cashback-earned">${{profile.wallet}} </span> </h1>
  <br>
  <h2>Number of Successful Refers: {{ profile.num_of_refers }}</h2>
  <br>
  <h3>Purchases Made</h3>
  
  {% if referrals %}
    {% for r in referrals %}
      {% if r.is_Verified %}
      <a class="card-text" href="{{r.id}}">
        <p class="">
         <span class="date">{{ r.date_published }}</span>
          You earned ${{ r.referer_cashback }}
          from {{r.referee_Phone_Number}}
          &#x2192;
        </p>
      </a>
      {% else %}
    <p>
      <span class="pending">
        Purchase from <span class="merchant">{{r.merchant}}</span> made on {{ r.date_published }} is <span style="text-decoration: underline;">pending verification</span>
      </span>
    </p>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>No purchases made yet. Make a purchase from our brands and start getting cashback!</p>  
  {% endif %}


  <h4>Earnings from getting referred</h4>
  {% for r in user_referred %}
  {% if r.is_Verified %}
  <p><span class="date">{{ r.date_published }}</span> You earned ${{r.referee_cashback}} from {{r.referer}}</p>
  {% else %}
  <p>You got referred on the <span class="date">{{ r.date_published }}</span> is pending verification</p>
  {% endif %}
  {% endfor %}
  

</section>
{% endblock %}


