{% extends "users/base.html" %}
{% block title %}Upload{% endblock %}
{% load static %}
{% block extra_head %}<link rel="stylesheet" href="{% static 'referrals/referral_form.css'%}">{% endblock %}
{% block content %}

<section class="referral-form-container">
    <div style="display: flex; justify-content: center; align-items: center;">
        <h1>Upload Receipt from Amazon</h1>
    </div>
    
    <div class="container" style="margin-top: 20px;">
        <div class="row d-md-flex flex-column justify-content-evenly flex-sm-column flex-md-column flex-lg-row flex-xl-row flex-xxl-row" style="padding-bottom: 0px;margin-bottom: 92px;">
            <div class="col d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center" style="margin-bottom: 30px;">
                <div style="box-shadow: 1px 1px 4px rgb(154,154,154);border-top-left-radius: 5px;border-top-right-radius: 5px;width: 80%;padding-bottom: 1px;">
                    <h1 class="text-center" style="background: #40739f;color: rgb(255,255,255);font-size: 20px;padding: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;">Earnings</h1>
                    <h2 class="display-6 text-center" style="color: #4ecb71;">${{user.profile.wallet}}</h2>
                </div>
        </div>
        <!-- <div class="col d-flex d-sm-flex d-md-flex d-lg-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center align-items-xl-center" style="margin-bottom: 30px;">
            <div style="box-shadow: 1px 1px 4px rgb(154,154,154);border-top-left-radius: 5px;border-top-right-radius: 5px;width: 80%;padding-bottom: 1px;">
                <h1 class="text-center" style="background: #40739f;color: rgb(255,255,255);font-size: 33px;padding: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;">Links Created</h1>
                <h2 class="display-5 text-center" style="color: #4ecb71;">{change me}</h2>
            </div>
        </div> -->
        <div class="col d-flex d-sm-flex d-md-flex d-lg-flex justify-content-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center align-items-xl-center" style="margin-bottom: 30px;">
            <div style="box-shadow: 1px 1px 4px rgb(154,154,154);border-top-left-radius: 5px;border-top-right-radius: 5px;width: 80%;padding-bottom: 1px;">
                <h1 class="text-center" style="background: #40739f;color: rgb(255,255,255);font-size: 20px;padding: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;">Refers</h1>
                <h2 class="display-6 text-center" style="color: #4ecb71;">{{user.profile.num_of_refers}}</h2>
            </div>
        </div>
    </div>

    {% if messages %}
    <div class="message-container ">
        {% for message in messages %}
        <h4 class="{{message.tags}}">{{message}}</h4>
        {% endfor %}
    </div>
    {% endif %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="id_referee_Phone_Number">Friend's Phone Number/PayNow :</label>
            <input type="tel" name="referee_Phone_Number" id="id_referee_Phone_Number" required>
            
            <br>
            <label for="receipt">Receipt:</label>
            <input type="file" name="receipt" id="id_receipt" accept="image/*" required>
            
            <div class="form-group">
                <button type="submit">Upload</button>
            </div>
        </form>

        
        <h4 class="get_cashback">Your friend will receive a link to claim their cashback.
            <br>
            Receive your cashback once your friend signs up!
        </h4>
    </div>
</section>


{% endblock content %}