{% extends "users/base.html" %}
{% block title %}Details{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'referrals/referral_detail.css' %}">

<section class="detail-container">
  <h3>Referral Details</h3>
  <p><span style="font-weight:bold;">Date: </span>{{object.date_published}}</p>
  <p><span style="font-weight:bold;">Cashback: </span>${{object.referer_cashback}}</p>
  <p><span style="font-weight:bold;">Merchant: </span>{{object.merchant}}</p>
  <p><span style="font-weight:bold;">Friend: </span>{{object.referee_username}}, {{object.referee_Phone_Number}}</p>
  <p><span style="font-weight:bold;">Receipt </span></p>
  <img class="receiptIMG" src="{{ object.receipt.url }}" alt="receipt of purchase">
</section>







{% endblock %}