{% extends "users/base.html" %}
{% block title %}Details{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'referrals/referral_detail.css' %}">

<section class="detail-container">
  <h1>Order #{{object.orderID}} - {{object.merchant}}</h1>
  <small>{{object.date_published}}</small>  
  <br>
  <br>
  <h2>Order Details:</h2>
  <p style="font-size: 1.5rem;">Total Amount: <span class="cashback">${{object.totalAmt}}</span></p>
  <p style="font-size: 1.5rem;">You earned <span class="cashback">${{object.referer_cashback}}</span> from <span style="font-weight:bold;">{{object.referee_username}}</span></p>  
</section>
{% endblock %}